[Unit]
Description=Node.js Server for creditcard purchaseorder processing

[Service]
ExecStart="/home/www/html/Processors/run"
# Required on some systems
WorkingDirectory=/home/www/html/Processors
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Processors
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
